/* General styles */
body {
  background-color: #f8f9fa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

/* Navbar */
.navbar {
  background-color: #ffffff;
  height: 5rem;
}

.fa-airbnb {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

/* Footer */
.f-info {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.f-info-links a {
  color: #222222;
  text-decoration: none;
}

.f-info-links a:hover {
  color: #007bff;
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

/* Cards */
.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}
.card-text {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.listing-link {
  text-decoration: none;
  color: #222222;
}

/* CARD EFFECTS */
/* .card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.card-img-top {
  filter: brightness(80%);
  transition: filter 0.3s ease;
}

.card:hover .card-img-top {
  filter: brightness(100%);
}
 */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
  transition: opacity 0.3s ease;
}

/* Show image */
.show-image {
  height: 50vh;
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.btns{
  display: flex;
  gap: 1rem;
}
